<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Confirma tu cuenta
        p Ya estas a un paso! solo ingresa en el siguiente link
        a(href=`${confirmarUrl}`) ir al enlace
        p si no puedes acceder al enlace, ingresa en tu navegador el siguiente link (copia y pega):
        p #{confirmarUrl}