<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Restablecer password
        p Hola, solicitaste restablecer tu password, haz click en el siguiente enlace para cambiarlo (tenes 1 hora para cambiarlo!):
        a(href=`${resetUrl}`) ir al enlace
        p si no puedes acceder al enlace, ingresa en tu navegador el siguiente link (copia y pega):
        p #{resetUrl}
        p
        p Si no solicitastes el cambio de contraseña podes ignorar este correo